@font-face {
    font-family: 'kaushan-script';
    src: url('kaushan-script_regular.eot');
    src: url('kaushan-script_regular.eot?#iefix') format('embedded-opentype'),
         url('kaushan-script_regular.woff') format('woff'),
         url('kaushan-script_regular.ttf') format('truetype'),
         url('kaushan-script_regular.svg#kaushan-script') format('svg');
}

